html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.5;
}

body {
  color: #515151;
  background-color: #fff;
}

a {
  /* color: #268bd2;   */
  color: #b00800;  /* red */
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;   /* bold */
  color: #313131;
}

h1, h2, h3 {
  color: #b00800;  /* red */
}


ul { list-style-type: square; }  /* for "bulleted" lists use squares */

table td  { vertical-align: top; }  /* for tables vertical align columns to top */


.container {
    max-width: 38rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

