#!/usr/bin/env ruby

ignore '/README.md'
ignore '**/_*'     # don't compile layout (shared) partials


compile '/posts/*.md' do
  filter :kramdown
  layout '/post.*'
  filter :relativize_paths, :type => :html
end

compile '/**/*.md' do
  filter :kramdown
  layout '/page.*'
  filter :relativize_paths, :type => :html
end

compile '/index.html' do
  layout '/index.*'
  filter :relativize_paths, :type => :html
end

# compile '/**/*.html' do
#  layout '/default.*'
#  filter :relativize_paths, :type => :html
# end


route '/posts/*' do
  y,m,d,slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match( item.identifier.without_ext ).captures

  "/posts/#{slug}.html"
end

route '/**/*.{html,md}' do
  item.identifier.without_ext + '.html'
end


compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
