########
#
# todo/fix: move/split into individual .gitignore files in subfolders


#####################
## jekyll ignores

jekyll/_site/
jekyll/.sass-cache/


######################
## middleman ignores

middleman/.bundle
middleman/build
middleman/.sass-cache
middleman/.cache


##############################
# metalsmith (+nunjucks) ignores

metalsmith-nunjucks/build
metalsmith-nunjucks/node_modules


###################################
# metalsmith (+handlebars) ignores

metalsmith-handlebars/build
metalsmith-handlebars/node_modules


#####################
## hugo ignores

hugo/public/
