#####################
## jekyll ignores

jekyll/_site/
jekyll/.sass-cache/


######################
## middleman ignores

middleman/.bundle
middleman/build
middleman/.sass-cache
middleman/.cache


######################
## gatsby ignore

gatsby/node_modules/
gatsby/public/
gatsby/.gatsby-context.js
