#####################
## jekyll ignores

jekyll/_site/
jekyll/.sass-cache/


######################
## middleman ignores

middleman/.bundle
middleman/build
middleman/.sass-cache
middleman/.cache


######################
## gatsby ignores

gatsby/node_modules/
gatsby/public/
gatsby/.gatsby-context.js


##############################
# metalsmith (+nunjucks) ignores

metalsmith-nunjucks/build
metalsmith-nunjucks/node_modules


###################################
# metalsmith (+handlebars) ignores

metalsmith-handlebars/build
metalsmith-handlebars/node_modules


#############################
# harp (+jade) ignores

harp-jade/www

#####################
## hugo ignores

hugo/public/
