<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>

{{ partial "header.html" . }}

<div>
  <b>News 'n' Updates</b>
    <ul>
        {{ range .Site.Pages }}
        {{ if eq .Type "post" }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        {{ end }}
    </ul>
</div>
    
<div>
  <b>Links 'n' Bookmarks</b>
    <ul>
        {{ range .Site.Data.links.links }}
          <li><a href="{{ .url }}">{{ .title }}</a></li>
        {{ end }}
    </ul>
</div>

{{ partial "footer.html" . }}

  </body>
</html>
