<div id="header">
  <table width="100%">
    <td>
      <%= link_to site_title, '/index.html' %>
    </td>
    <td style="text-align: right">
      <%= link_to 'About', '/about.html' %>  
    </td>
  </table>
</div>
