div(id="header")
  table(width="100%")
    td
      a(href="#{site.path}/index.html") #{ site.title }
    td(style="text-align: right")
      // list of pages
      a(href="#{site.path}/about.html") About
