div(id="header")
  table(width="100%")
    td
      a(href="#{site_path}/index.html") #{ site_title }
    td(style="text-align: right")
      // list of pages
      a(href="#{site_path}/about.html") About
