head
  meta(charset="utf-8")
  title #{ site_title }    <!-- todo: add "dynamic" page title - how? possible? -->
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", href="#{ site_path }/css/style.css")
