doctype
html
  != partial( "../_partials/head" )
  body
    != partial( "../_partials/header" )

    h1 #{page.title}
    != yield
    ul
      each post, slug in public.posts._data
        li
          - page = post.page
          a(href="#{ site.path }/posts/#{ slug }") #{ page.title }

    != partial( "../_partials/footer" )
