doctype
html
  != partial("_partials/head")
  body
    h1 Default / Plain Layout Here
    != partial("_partials/header")
    <!-- add/todo: if index page -- no title otherwise assume page w/ title -->
    != yield
    != partial("_partials/footer")
