<!DOCTYPE html>
<html>
  <%= partial "partials/head" %>
  <body>

    <%= partial "partials/header" %>

    <div class="main">
      <%= yield %>
    </div>
    
    <%= partial "partials/footer" %>

  </body>
</html>
